@import '../../scss/variables';

.burger {

  position: relative;

  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: $violet;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.29);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &-popup {
    position: absolute;
    top: 0;
    left: 0;

    width: 100px;
    height: 100px;
    background: $violet;
    border-radius: 60px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 25px;
    flex-direction: column;
    z-index: 99;
  }
}