@import 'variables';

.dashboard {
  width: 100%;
  height: 100vh;
  background-color: $light;
}

.mountains {
  position: absolute;

  width: 100%;
  height: 100vh;
  background: url('../assets/mountains.png') no-repeat 100% 100%;
  mix-blend-mode: soft-light;
}
