

@media (max-width: 875px) {
  .activities {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .header-text {
    font-size: 48px !important;
  }
  
}


@media (max-width: 555px) {
  .activities {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .header-text {
    font-size: 24px !important;
  }

  .courses-button {
    padding: 25px 0px 50px 0px;
  }
  
}