.timer {

  .circular-progress {
    position: relative;
    width: 250px;
    height: 250px;
    background: #4B50BF;
    border-radius: 50%;

    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    mix-blend-mode: multiply;

    &:before {
      content: "";
      position: absolute;
      height: 95%;
      width: 95%;
      background-color: #fff;
      border-radius: 50%;

    }

    .value-container {
      z-index: 9;
      position: absolute;
      font-size: 50px;
      color: #333;
    }
  }

}

.timer-controllers {
  width: 250px;

  display: flex;
  justify-content: space-between;

  margin-top: 25px;
}

@media (max-width: 735px) {
  .header-text {
    font-size: 32px !important;
  }
}

@media (max-width: 493px) {
  .header-text {
    font-size: 24px !important;
  }
}


@media (max-width: 365px) {
  .header-text {
    font-size: 18px !important;
  }
}