@media (max-width: 760px) {
  .header-text {
    font-size: 32px !important;
  }
}

@media (max-width: 520px) {
  .header-text {
    font-size: 22px !important;
  }
}

@media (max-width: 380px) {
  .header-text {
    font-size: 18px !important;
  }
}